<table id="dg" style="width:500px;height:250px"
    pagination="true" sortName="itemid" sortOrder="desc"
    title="DataGrid - Expand Row"
    singleSelect="true" fitColumns="true" ng-click="showAlert()">
    <thead>
    <tr ng-click="showAlertHeader()">
        <th field="itemid" width="60">Item ID</th>
        <th field="productid" width="80">Product ID</th>
        <th field="listprice" align="right" width="70">List Price</th>
        <th field="unitcost" align="right" width="70">Unit Cost</th>
        <th field="status" width="50" align="center">Status</th>
    </tr>
    </thead>
</table>